<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <h1>Fent proves amb Behat i HTML</h1>
    </head>

    <body>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <h2>HTML Links</h2>
        <p>HTML links to Wikipedia:</p>
        <a href="https://www.wikipedia.org"> Go there!</a>

        <h2>HTML Images</h2>
        <p>Show image:</p>
        <img src="{{ asset('images/' ~ id ~ '.png') }}" alt={{ id }} height="213">


        <p> {{ name }} is a {{ occupation }}. </p>

        <h2>Student's information</h2>

        {% for key, value in info %}
        <p>  <b>{{ key}}:</b>  {{ value }} </p>
        {% endfor %}

        <h3>Activities</h3>
        <table style="width:50%">
            <thead>
                <tr>
                    <th><b>activityId</b></th>
                    <th><b>activityName</b></th>
                    <th><b>position</b></th>
                    <th><b>difficulty</b></th>
                    <th><b>time</b></th>
                    <th><b>solutions</b></th>
                </tr>
            </thead>
            <tbody>
            {% for value in activities %}
                <tr>
                   <th style="font-weight:lighter">  {{ value.activityId }} </th>
                   <th style="font-weight:lighter"> {{ value.activityName }} </th>
                   <th style="font-weight:lighter"> {{ value.position }} </th>
                   <th style="font-weight:lighter"> {{ value.difficulty }} </th>
                   <th style="font-weight:lighter"> {{ value.time }} </th>
                   <th style="font-weight:lighter"> {{ value.solutions }} </th>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </body>
</html>
